<div class="wrapper">
    <h1>Registration page</h1>
     <form action="/registration" method="POST"> 
        <label for="username">Username:</label> 
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label> 
        <input type="password" id="password" name="password" required> 

        <label for="password">Confirm Password:</label> 
        <input type="password" id="password" name="password" required> 

        <label for="email">Email:</label> 
        <input type="email" id="email" name="email" required> 
        
        <label for="birthdate">Birthdate:</label>
        <input type="date" id="birthdate" name="birthdate" required>

        <label for="photo">Photo:</label>   
        <input type="file" id="photo" name="photo" required>

        <div class="button-container">
            <button type="submit" class="button">Registration</button> 
            <button type="reset" class="button-outline">Reset</button>
        </div>
    </form>
</div>
