
/* Import the Google Fonts link */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
  }
  html,
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    height: 100%;
  }

  h1 {
    font-family: 'Roboto', sans-serif;
    color: #333;
    text-align: center;
    font-weight: 700; 
  }

/* Navbar Styles */ 
.navbar { 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    background-color: #333; 
    padding:  20px;
}

.nav-logo {
    font-size: 1.5em;
    font-weight: 700;
}

.navbar a { 
    color: white; 
    text-decoration: none;
    margin: 0 10px; 
}

 .nav-links { 
    list-style: none; 
    display: flex; 
    margin: 0; 
    padding: 0;
} 

.nav-links li { 
    margin: 0 10px; 
}

.nav-links a:hover { 
    text-decoration: underline; 
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.wrapper {
    flex: 1 0 auto;
    text-align: center; 
    padding: 50px;
}

.button {
    background-color: #333;
    color: #fff;
    padding: 20px 30px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    text-decoration: none;
    width: 200px;
}

.button:hover {
    background-color: #555;
}

.button:active {
    background-color: #777;
}

.button:focus {
    outline: none;
}

.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.button-outline {
    background-color: transparent;
    color: #333;
    border: 2px solid #333;
    border-radius: 12px;
    cursor: pointer;
    text-decoration: none;
    padding: 20px 30px;
    width: 200px;
}

.button-outline:hover {
    background-color: #333;
    color: #fff;            
}

.button-outline:active {
    background-color: #555;
    color: #fff;
}

.button-outline:focus {
    outline: none;
}

.button-outline:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px 0;
}

.not-found {
    padding-bottom: 50px;
}

form { 
    display: flex; 
    flex-direction: column; 
}

label { 
    margin-bottom: 5px; 
} 
 
input { 
    margin-bottom: 15px; 
    padding: 10px; 
    font-size: 16px;
    border-radius: 12px;
}

.footer {
    flex: 0 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    font-size: 24px;
}
